// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img {
  padding: 0px 10px 0px 10px;
  float: left;
  width: 150px;
  clear: left;
}

.item {
  float: left;
}

.menu_item {
  padding: 0px 0px 0px 0px;
}